<h1>Sign in</h1>

<%= render 'form' %>
<%= @test %>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Hashed Password</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.hashed_password %></td>
  </tr>
<% end %>

</table>
